{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Créditos {% endblock %}</h1>
<p>
  Esthefanía Medina<br />
  CI: 28034153<br />
  Sección:01<br /><br />
  Verónica Cedeño<br />
  CI: 26960546<br />
  Sección:03
</p>

<p>Este proyecto ha sido desarrollado bajo la tutoría del Dr. Victor Esteller, profesor de la cátedra de Computación II.</p>

<h3>Departamento de Computación</h3>
<h3>Facultad de Ingeniería</h3>
<h3>Universidad de Carabobo</h3>
<h3>Julio 2023</h3>

{% endblock %}